# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/fluffy_waffle_1/nbproject/private/
/fluffy_waffle_1/build/
/Kapusta/nbproject/private/
/Kapusta/build/
/Singleton/nbproject/private/
/Singleton/build/
/Builder/nbproject/private/
/Builder/build/
/Decorator/nbproject/private/
/Decorator/build/
/Prototype/nbproject/private/
/Prototype/build/